<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etapa 1 - Dados Pessoais</title>
</head>
<body>
    {% if edit_mode %}
        <h1>Editando Dados Pessoais</h1>
    {% else %}
        <h1>Etapa 1 - Dados Pessoais</h1>
        <p> Já tem Cadastro?<a href="{% url 'verificar_candidato' %}">Clique aqui para editar seu Perfil</a></p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Próxima etapa</button>
    </form>
</body>
</html>